ACL/Access.csv
ACL/Owner.csv
ACL/Roles.csv
LOGS/Errors.log
LOGS/VMUtils.log
SCRIPTS/ConfigWindowsHost.ps1
SETTINGS/Settings.ps1
LOGS/VMScripts.log
VALUES/KEYS/VMKey.dat
VALUES/Win2016-RU_администратор_Password.dat
VALUES/Win2016-RU_администратор_Login.dat
VALUES/Win10-X64-RU_user_Password.dat
VALUES/Win10-X64-RU_user_Login.dat
VALUES/ubuntu18-repo_user1_Password.dat
VALUES/ubuntu18-repo_user1_Login.dat
VALUES/Windows-Server-2016-RU_администратор_Password.dat
VALUES/Windows-Server-2016-RU_администратор_Login.dat
VALUES/Windows-10-2004-X64-RU_user_Password.dat
VALUES/Windows-10-2004-X64-RU_user_Login.dat
VALUES/UBUNTU-18.04-SRV_user1_Password.dat
VALUES/UBUNTU-18.04-SRV_user1_Login.dat
